html {
  font-size: 20px; }

* {
  box-sizing: border-box;
  color: #fefefe;
  margin: 0;
  padding: 0;
  font-size: 1.2rem; }

body {
  background-color: #010101;
  font-family: sans-serif;
  overflow-x: hidden; }

h2 {
  font-size: 1.6rem; }

button {
  background-color: #fefefe;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.25rem auto;
  padding: 1.125rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 12.5rem; }

li {
  list-style-type: none; }

.flex-wrapper {
  display: flex;
  justify-content: space-between; }

.close-btn {
  border: none;
  position: absolute;
  z-index: 8;
  background: none;
  background-color: inherit;
  color: #ff2a2a3f;
  font-size: 2.6rem;
  right: 0.8rem;
  top: 0.8rem; }
  .close-btn:hover {
    color: #ff2a2a; }

.page-container {
  margin: 6.5vh auto 0;
  position: relative; }

.play-container,
.finish-container,
.stats-container {
  height: 93.5vh;
  display: grid;
  place-items: center; }

/* ---NAV--- */
.nav-container {
  background-color: #010101;
  border-bottom: 2px solid #ffffff;
  height: 6.5vh;
  min-height: 3.75rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center; }
  .nav-container li {
    display: inline-block; }
    .nav-container li a:link, .nav-container li a:visited {
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      padding: 0.75rem 1.25rem;
      text-decoration: none; }
    .nav-container li a:hover, .nav-container li a:active, .nav-container li a.current-page {
      border-color: #fefefe;
      color: #ff2a2a;
      transition-property: color, border-color;
      transition-duration: 1s; }

/* ---MAIN--- */
main {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ---HOME--- */
.home-container {
  width: 96%; }
  .home-container .quiz-list-container {
    display: grid;
    gap: 1.6rem 1.6rem;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 3.75rem; }
    .home-container .quiz-list-container .quiz-item {
      background-color: #141414;
      border-radius: 5%;
      padding: 2.5rem 1.25rem; }
      .home-container .quiz-list-container .quiz-item * {
        transition-property: color, background-image;
        transition-duration: 0.8s; }
      .home-container .quiz-list-container .quiz-item:hover *, .home-container .quiz-list-container .quiz-item:hover {
        background-color: #ffffff;
        color: #141414; }
      .home-container .quiz-list-container .quiz-item h2 {
        min-height: 6rem; }
      .home-container .quiz-list-container .quiz-item h2,
      .home-container .quiz-list-container .quiz-item p {
        margin-bottom: 1.9rem; }
  .home-container .lucky-btn {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, #feac37 0%, #ff94bd 100%);
    border-color: transparent;
    border-radius: 6px;
    color: #121212;
    margin: 3.6rem auto 3.6rem;
    min-width: 13.75rem;
    width: 20%; }
    .home-container .lucky-btn:hover {
      color: #ffffff; }
  .home-container .play-btn {
    background-color: #121212;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #05ecfd 0%, #fb95be 70%);
    border-width: 5px;
    color: #fefefe;
    display: flex;
    justify-content: center; }
    .home-container .play-btn:hover {
      background-image: linear-gradient(45deg, #05ecfd 0%, #fb95be 70%);
      border: none;
      padding: 1.38rem 0; }

/* ---PLAY--- */
.play-container .play {
  background-color: #121212;
  border: 4px solid #fefefe93;
  border-radius: 12px;
  padding: 4rem 5rem 4.6rem;
  position: relative;
  width: 80vw;
  /* QUESTION-ANSWER BLOCK */ }
  .play-container .play .timer-container {
    bottom: 2rem;
    position: absolute;
    right: 5rem; }
    .play-container .play .timer-container .timer {
      color: #fefefe93;
      text-align: right; }
  .play-container .play .quiz-info-container {
    border-bottom: 2px solid #fefefe93;
    margin-bottom: 2.4rem; }
    .play-container .play .quiz-info-container * {
      color: #fefefe93; }
  .play-container .play .question-content {
    line-height: 1.6rem; }
  .play-container .play .question-num,
  .play-container .play .question-content {
    margin-bottom: 1.6rem; }
  .play-container .play .question-num,
  .play-container .play .points {
    color: #fefefecb; }
  .play-container .play .points {
    font-style: italic; }
  .play-container .play .answer-option {
    background-color: #333;
    border: 5px solid #fefefe;
    font-weight: 600;
    margin: 0.75rem auto;
    padding: 1rem 1.5625rem; }
    .play-container .play .answer-option:hover, .play-container .play .answer-option.chosen {
      border: 5px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right top, #05ecfd 0%, #fb95be 80%);
      cursor: pointer; }
    .play-container .play .answer-option.chosen {
      background-image: linear-gradient(45deg, #05ecfd 0%, #fb95be 70%);
      color: #333; }
  .play-container .play .slider-btn {
    color: #fefefe93;
    font-size: 3.4rem;
    position: absolute;
    z-index: 8;
    top: 50%; }
    .play-container .play .slider-btn.btn-left {
      left: -5vw; }
    .play-container .play .slider-btn.btn-right {
      right: -5vw; }
    .play-container .play .slider-btn.btn-finish {
      right: -6vw; }
    .play-container .play .slider-btn.active-btn:hover {
      color: #fefefe; }

/* ---FINISH--- */
/* ---STATS--- */
.finish-container .finish,
.stats-container .stats {
  background-color: #121212;
  border: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #05ecfd 0%, #fb95be 70%);
  border-width: 5px;
  color: #fefefe;
  position: relative;
  padding: 2rem; }
  .finish-container .finish *,
  .stats-container .stats * {
    line-height: 4rem; }
  .finish-container .finish h2,
  .stats-container .stats h2 {
    margin-bottom: 1.6rem; }
  .finish-container .finish table *,
  .stats-container .stats table * {
    font-size: 1.4rem;
    line-height: 4rem;
    text-transform: capitalize; }
  .finish-container .finish .close-btn,
  .stats-container .stats .close-btn {
    right: 0.8rem;
    top: 0rem; }

/* ---FINISH--- */
.finish-container .finish {
  min-width: 28.125rem;
  width: 40vw; }
  .finish-container .finish h2 {
    text-align: center; }
  .finish-container .finish .result-item {
    text-transform: uppercase; }
  .finish-container .finish .result {
    color: #fb95be;
    font-weight: bold;
    padding: 0.125rem 0.875rem; }
  .finish-container .finish table {
    width: 100%; }
    .finish-container .finish table tr {
      text-align: center; }
    .finish-container .finish table .difficulty-row td {
      border-bottom: 2px solid #ddd; }

/* ---STATS--- */
.stats-container .stats {
  width: 80vw; }
  .stats-container .stats table {
    min-width: 25rem;
    width: 50%; }
    .stats-container .stats table tr td {
      border-bottom: 2px solid white; }
    .stats-container .stats table tr:last-child td {
      border-bottom: none; }
  .stats-container .stats .stats-info {
    margin-left: 0.8vw; }
    .stats-container .stats .stats-info .stats-data {
      color: #05ecfd;
      text-align: right; }
  .stats-container .stats .stats-chart .chart-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%; }

/* ---FOOTER--- */
footer {
  display: flex;
  justify-content: center;
  margin: 0 auto 1.25rem;
  text-align: center; }
  footer * {
    color: #fefefe; }
  footer a:hover {
    color: #ff2a2a; }

/* styles for spinner is imported from https://codepen.io/CodeArtisT75/pen/QWLQwYL */
.spinner-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%; }
  .spinner-container .spinner-square {
    display: flex;
    flex-direction: row;
    height: 7.5rem;
    width: 5.625rem; }
    .spinner-container .spinner-square > .square {
      border-radius: 4px;
      height: 5rem;
      margin: auto auto;
      width: 1.0625rem; }
    .spinner-container .spinner-square .square-1 {
      animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s infinite; }
    .spinner-container .spinner-square .square-2 {
      animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms infinite; }
    .spinner-container .spinner-square .square-3 {
      animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms infinite; }

@keyframes square-anim {
  0% {
    height: 80px;
    background-color: #6fa3f0; }
  20% {
    height: 80px; }
  40% {
    height: 120px;
    background-color: #6fc8f0; }
  80% {
    height: 80px; }
  100% {
    height: 80px;
    background-color: #6fa3f0; } }

.easy {
  color: #fefe93; }

.medium {
  color: #93fe93; }

.hard {
  color: #f84646; }

.active-btn {
  cursor: pointer; }

.hidden {
  display: none; }

@media screen and (max-width: 1700px) {
  html {
    font-size: 16px; }
  .home-container .quiz-list-container {
    grid-template-columns: repeat(4, 1fr); }
  .home-container .lucky-btn {
    margin: 3rem auto;
    width: 30%; } }

@media screen and (max-width: 1300px) {
  .nav-container {
    position: absolute;
    width: auto;
    border-bottom: none; }
  .home-container .quiz-list-container {
    grid-template-columns: repeat(3, 1fr); }
  .play-container {
    z-index: 11; } }

@media screen and (max-width: 980px) {
  .home-container .quiz-list-container {
    grid-template-columns: repeat(2, 1fr); }
  .play-container .play .slider-btn.btn-left {
    left: 2vw; }
  .play-container .play .slider-btn.btn-right {
    right: 2vw; }
  .play-container .play .slider-btn.btn-finish {
    right: 2vw; }
  .stats-container .stats .stats-chart .chart-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    right: 0;
    top: 110%;
    width: 90%;
    margin-bottom: 36px; }
  .stats-container .stats .stats-info {
    text-align: center; }
    .stats-container .stats .stats-info table {
      margin: 0 auto; }
  .question-num,
  .question-difficulty {
    text-align: center; }
  .slides-container .flex-wrapper:not(.quiz-info-container) {
    flex-direction: column; }
    .slides-container .flex-wrapper:not(.quiz-info-container) .question-difficulty {
      margin-bottom: 1.6rem; }
  .finish-container .finish {
    width: 80vw; }
  .page-container.stats-container {
    height: auto;
    margin: 10vh auto; } }

@media screen and (max-width: 637px) {
  .nav-container {
    position: absolute; }
  .home-container .lucky-btn {
    margin: 3rem auto;
    width: 60%; }
  .home-container .quiz-list-container {
    grid-template-columns: repeat(1, 1fr); }
  .stats-container .stats table {
    min-width: 300px;
    width: 80%; }
    .stats-container .stats table * {
      font-size: 1.2rem; } }

@media screen and (max-width: 495px) {
  html {
    font-size: 14px; }
  .home-container .lucky-btn {
    width: 80%; }
  .play-container .play {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 76vw; }
    .play-container .play .slider-btn {
      font-size: 3.2rem; }
    .play-container .play .slider-btn.btn-left {
      left: -10vw; }
    .play-container .play .slider-btn.btn-right {
      right: -10vw; }
    .play-container .play .slider-btn.btn-finish {
      right: -11vw; } }

@media screen and (max-width: 448px) {
  html {
    font-size: 11px; }
  .play-container .play .slider-btn.btn-finish {
    right: -12vw; }
  .stats-container .stats {
    padding: 0; }
    .stats-container .stats table {
      min-width: 200px;
      width: 90%;
      margin: 0; } }
